# Pandas

In [2]:
!uv pip install -q -U pandas

In [3]:
import pandas as pd

In [11]:
df = pd.DataFrame(
    {"c1": [1, 2, 3], "c2": [4, 5, 6], "c3": [7, 8, 9]}, index=["r1", "r2", "r3"]
)

print("{}\n".format(df))

first_two_rows = df[0:2] # Only the first two rows are returned excluding the last row (indexed 2)
print("{}\n".format(first_two_rows))

last_two_rows = df["r2":"r3"] # All rows from r2 to r3 are returned including r3
print("{}\n".format(last_two_rows))

# There will be a KeyError when we uncomment the line 13 and run again
# df['r1'] # Directly accessing a row by its index is not allowed as it is not a column name

# Accessing a row by its label using the loc method
row1 = df.loc["r1"]
print(f"Row1 = \n{row1}")

# Accessing a row by its index using the iloc method
row1 = df.iloc[0]
print(f"\nRow1 using index = \n{row1}")

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

    c1  c2  c3
r1   1   4   7
r2   2   5   8

    c1  c2  c3
r2   2   5   8
r3   3   6   9

Row1 =
c1    1
c2    4
c3    7
Name: r1, dtype: int64

Row1 using index =
c1    1
c2    4
c3    7
Name: r1, dtype: int64

## Using Loc

In [18]:
df = pd.DataFrame(
    {"c1": [1, 2, 3], "c2": [4, 5, 6], "c3": [7, 8, 9]}, index=["r1", "r2", "r3"]
)

print("{}\n".format(df))

print("{}\n".format(df.loc["r2"]))

bool_list = [False, True, True]
print("{}\n".format(df.loc[bool_list]))

single_val = df.loc["r1", "c2"]
print("Single val: {}\n".format(single_val))

print("{}\n".format(df.loc[["r1", "r3"], "c2"]))

df.loc[["r1", "r3"], "c2"] = 0
print("{}\n".format(df))


# Setting a value
df.loc[["r1", "r3"], "c2"] = 12
print(f"\n{df=}")

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

c1    2
c2    5
c3    8
Name: r2, dtype: int64

    c1  c2  c3
r2   2   5   8
r3   3   6   9

Single val: 4

r1    4
r3    6
Name: c2, dtype: int64

    c1  c2  c3
r1   1   0   7
r2   2   5   8
r3   3   0   9


df=    c1  c2  c3
r1   1  12   7
r2   2   5   8
r3   3  12   9

## Groupby

In [23]:
# Create the DataFrame
data = {
    'yearID': [2017, 2015, 2016, 2015, 2016, 2016, 2015, 2017, 2017],
    'teamID': ['CLE', 'CLE', 'BOS', 'DET', 'DET', 'CLE', 'BOS', 'BOS', 'DET'],
    'H': [1449, 1395, 1598, 1515, 1476, 1435, 1495, 1461, 1435],
    'R': [818, 669, 878, 689, 750, 777, 748, 785, 735]
}

df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
# df_new.to_csv('team_stats.csv', index=False)

print(df)

   yearID teamID     H    R
0    2017    CLE  1449  818
1    2015    CLE  1395  669
2    2016    BOS  1598  878
3    2015    DET  1515  689
4    2016    DET  1476  750
5    2016    CLE  1435  777
6    2015    BOS  1495  748
7    2017    BOS  1461  785
8    2017    DET  1435  735

In [29]:
groups = df.groupby("yearID")
for name, group in groups:
    print("Year: {}".format(name))
    print("{}\n".format(group))

print("{}\n".format(groups.get_group(2016)))
print(f"{groups[['H', 'R']].sum()}\n")
print(f"{groups[['H', 'R']].mean()}\n")

Year: 2015
   yearID teamID     H    R
1    2015    CLE  1395  669
3    2015    DET  1515  689
6    2015    BOS  1495  748

Year: 2016
   yearID teamID     H    R
2    2016    BOS  1598  878
4    2016    DET  1476  750
5    2016    CLE  1435  777

Year: 2017
   yearID teamID     H    R
0    2017    CLE  1449  818
7    2017    BOS  1461  785
8    2017    DET  1435  735

   yearID teamID     H    R
2    2016    BOS  1598  878
4    2016    DET  1476  750
5    2016    CLE  1435  777

           H     R
yearID
2015    4405  2106
2016    4509  2405
2017    4345  2338

                  H           R
yearID
2015    1468.333333  702.000000
2016    1503.000000  801.666667
2017    1448.333333  779.333333

In [30]:
no2015 = groups.filter(lambda x: x.name > 2015)
print(no2015)

   yearID teamID     H    R
0    2017    CLE  1449  818
2    2016    BOS  1598  878
4    2016    DET  1476  750
5    2016    CLE  1435  777
7    2017    BOS  1461  785
8    2017    DET  1435  735